.postPage{
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.postSection{
    background-color: rgb(16, 16, 16);
    padding: 7px;
    border-radius: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.commentsSection{
    display: flex;
    flex-direction: column;
    gap: 5px
}
.userInfo{
    padding: 0;
}

.postMedia{
    margin: 0 auto;
}

.postHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ownerOptions{
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.editPostButton{
    font-size: 20px;
    color: rgb(214, 149, 18);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;
}

.archivePostButton{
    font-size: 20px;
    color: rgb(214, 18, 18);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;
}