body{
  display: flex;
  flex-direction: row;
}

main.appContainer{
display: flex;
flex-direction: row;
gap: 10px;
}

a{
  color: white;
  text-decoration: none;
}
a:hover{
  color:rgb(177, 177, 177)
}