body{
  display: flex;
  flex-direction: row;
  justify-content: center;
}



main.appContainer{
display: flex;
flex-direction: row;
gap: 10px;
width: 70vw;
box-sizing: border-box;
}

a{
  color: white;
  text-decoration: none;
}
a:hover{
  color:rgb(177, 177, 177)
}

.error-message{
  color: rgb(255, 0, 0);
}

img{
  max-width: 500px;
  border-radius: 12px;
}